<p>Hello,</p>

<p>
Trade Tariff stumbled upon invalid CHIEF operation.
</p>

<p>
  The following operation was not marked as processed. Either fix it or remove the operation entry to not receive this letter again.
</p>

<h3>Operation:</h3>

<pre>
  <%= @operation.inspect %>
</pre>

<% if @model.present? %>
  <h3>Model:</h3>

  <pre>
    <%= @model.inspect %>
  </pre>
<% end %>

<% if @errors.present? %>
  <h3>Errors:</h3>

  <pre>
    <%= @errors.inspect %>
  </pre>
<% end %>

<h3>Exception</h3>

<pre>
  <%= @exception %>
</pre>

<h3>Backtrace</h3>

<pre>
  <%= @exception.backtrace.join("\n") %>
</pre>
