<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <aside>
        <h3>QuickLinks</h3>
        <ol class="toc">
          <li>
            <a href="#Search">Search</a>
          </li>
          <li>
            <a href="#Sections">Sections</a>
          </li>
          <li>
            <a href="#Chapters">Chapters</a>
          </li>
          <li>
            <a href="#Headings">Headings</a>
          </li>
          <li>
            <a href="#Commodities">Commodities</a>
          </li>
        </ol>
      </div>
    </aside>
    <div class="span6">
      <div class='page-header'>
        <h1>TradeTariff API</h1>
        <h2>Documentation</h2>
      </div>

      <p>This is the documentation for the public Trade Tariff API.</p>

      <h3 class="page-header">Base URL</h3>
      <p>API URLs referenced in this documentation start with the following base part:</p>

      <pre>[DEVELOPMENT] https://localhost:3016/</pre>
      <pre>[PREVIEW] http://tariff-api.preview.alphagov.co.uk/</pre>

      <h3 class="page-header">Search <a name="Search">¶</a></h3>
      <pre>GET /search</pre>

      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>q</code></td>
            <td>Search paramater</td>
          </tr>
          <tr>
            <td><code>page</code></td>
            <td>Page of results (default 25 per page)</td>
          </tr>
        </tbody>
      </table>

      <h3 class="page-header">Sections <a name="Sections">¶</a></h3>

      <h4>List all sections</h4>

      <pre>GET /sections</pre>

      <p>Responce</p>
      <pre class="prettyprint">
        <%= render partial: "home/docs/sections" %>
      </pre>

      <h4>Show section</h4>
      <p>To display a section and all it's chapters.</p>

      <pre>GET /sections/1</pre>

      <p>Responce</p>
      <pre class="prettyprint">
        <%= render partial: "home/docs/sections_1" %>
      </pre>

      <h3 class="page-header">Chapters <a name="Chapters">¶</a></h3>
      <h4>Display a chapter</h4>
      <p>To get a chapter the section it is in and all the headings in that chapter.</p>
      <pre>GET /chapters/01</pre>

      <p>Responce</p>
      <pre class="prettyprint">
        <%= render partial: "home/docs/chapter" %>
      </pre>

      <h3 class="page-header">Headings <a name="Headings">¶</a></h3>
      <p>Get a heading, its chapter, the chapters section, and all the commodities for that heading.</p>
      <pre>Get /headings/0101</pre>
      <p>Response</p>

      <pre class="prettyprint">
        <%= render partial: "home/docs/heading" %>
      </pre>

      <h3 class="page-header">Commodities <a name="Commodities">¶</a></h3>

      <pre>Get /commodities/0101300000</pre>

      <p>Response</p>
      <pre class="prettyprint">
        <%= render partial: "home/docs/commodity" %>
      </pre>
    </div>
  </div>
</div>

