<p>Hello,</p>

<p>
  Trade Tariff successfully applied <%= @count %> update(s) at <%= Time.now %>.
</p>

<p>Following updates were applied:</p>

<ul>
  <% @update_names.each do |update_name| %>
    <li><%= update_name %></li>
  <% end %>
</ul>

<% if @conformance_errors.any? %>
  <table>
    <thead>
      <tr>
        <td>Model</td>
        <td>Primary Key</td>
        <td>Errors</td>
      </tr>
    </thead>
    <tbody>
      <% @conformance_errors.each do |model, entries| %>
        <% entries.each do |primary_key, errors| %>
          <tr>
            <td>
              <strong><%= model %></strong>
            </td>
            <td>
              <%= primary_key %>
            </td>
            <td>
              <ul>
                <% errors.each do |error_type, error_messages| %>
                  <li>
                    <strong><%= error_type %></strong><br />
                  </li>
                  <% error_messages.each do |error_message| %>
                    <li>
                      <%= error_message %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    <strong>No conformance errors found.</strong>
  </p>
<% end %>
